<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- '/' localhost:4000/public/   static 으로 public 을 app.js 에서 지정해줬기 때문에 그다음부터적으면됨-->
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/main.js"></script>
  <title>Main Page</title>
</head>

<body>
  <h1>메인 페이지 입니다!</h1>
  <p><%= msg %></p>
  <img src="/image/cat.jpg" alt="고양이">

</body>

</html>